<h1>Flexible Payment</h1>

<p>	A <%= @user_number_of_years %> year loan of $<%= @user_present_value %>, with an annual interest rate of <%= number_to_percentage(@user_basis_to_percentage, precision: 2) %>, requires a monthly payment of <%= @monthly_payment %>.</p>