<h1>Flexible Payment</h1>

<!--<p>	A <%= @user_number_of_years %> year loan of $<%= @user_loan_amount %>, with an annual interest rate of <%= @interest_rate %>%, requires a monthly payment of <%= @monthly_payment %>.</p>-->