<h1>Payment Results</h1>

    <p><strong>APR</strong></br>
        <%= @user_apr_input %>
    </p>
    <p><strong>Number of years</strong></br>
        <%= @user_number_of_years_input %>
    </p>
    <p><strong>Principal</strong></br>
        <%= @user_principal_input %>
    <p><strong>Payment</strong></br>
        <%=  %>
    </p>
    </p>
    </br>
    <p><a href=https://omnicalc-params-elliolson.c9users.io/payment/new>Calculate another payment</a></p>
