<h1>Payment Calculation</h1>

    <form action="/payment/results">
        <div>
        <label for="apr_input"><strong>APR</strong></label>
        <input id="apr_input" type = "text" name="user_apr">        
        </div>
        <div>
        <label for="number_of_years_input"><strong>Number of years</strong>
        </label>
        <input id="number_of_years_input" type = "text" name="user_number_of_years">                
        </div>
        <div>
        <label for="principal_input">
            <strong>Principal</strong>
        </label>
        <input id="principal_input" type = "text" name="user_principal">                
        </div>
    <button>Calculate monthly payment</button>
    </form>