<h1>Random Calculation</h1>

    <form action="/random/results">
        <div>
        <label for="minimum_number_input">
            <strong>Minimum</strong>
        </label>
        <input id="minimum_number_input" type = "text" name="user_minimum_number_input">                
        </div>
        <div>
        <label for="maximum_number_input">
            <strong>Maximum</strong>
        </label>
        <input id="maximum_number_input" type = "text" name="user_maximum_number_input">                
        </div>
    <button>Pick random number</button>
    </form>