<h1>Random Results</h1>

    <p><strong>Minimum</strong></br>
        <%= @user_minimum_number_input %>
    </p>
    <p><strong>Maximum</strong></br>
        <%= @user_maximum_number_input %>
    </p>
    <p><strong>Random Number</strong></br>
        <%= @random_number %>
    </p>
    </p>
    </br>
    <p><a href=https://omnicalc-params-elliolson.c9users.io/random/new>Pick another random number</a></p>
