<h1>Square Calculations</h1>

    <form action="/square/results">
        <!--action = where users are being sent after form submission-->
        <div>
        <label id="number_input">
            <!--label id tied to input id introduces box that lights up-->
            Enter a number
        </label>
        
        <input id="number_input" type = "text" name="the_user_number">        
        <!--name= keeps the number (look in the url after form submission); this is what is used as params for forms-->
        
    </div>
    
    <button>Calculate square</button>
    </form>