<h1>Square Results</h1>

    <p><strong>Number</strong></br>
        <%= @user_number %>
    </p>
    <p><strong>Square</strong></br>
        <%= @squared_number %>
    </p>
    </br>
    <p><a href=https://omnicalc-params-elliolson.c9users.io/square/new>Calculate another square</a></p>
