<h1>Square Root Results</h1>

    <p><strong>Number</strong></br>
        <%= @user_number %>
    </p>
    <p><strong>Square root</strong></br>
        <%= @square_root_of_number %>
    </p>
    </br>
    <p><a href=https://omnicalc-params-elliolson.c9users.io/square_root/new>Calculate another square root</a></p>