<h1>Stats Calculation</h1>

    <form action="/stats_calculation/results">
        <div>
        <label for="number_input">
            <strong>Numbers</strong>
        </label>
        <input id="number_input" type = "text" name="user_number">                
        </div>
    <button>Calculate descriptive statistics</button>
    </form>