<h1>Word Count Calculation</h1>

    <form action="/word_count/results">
        <div>
        <label for="word_input">
            <strong>Text</strong>
        </label>
        <input id="word_input" type = "text" name="user_text">                
        </div>
        <div>
        <label id="special_word">
            <strong>Special word</strong>
        </label>
        <input id="special_word" type = "text" name="user_word">                
        </div>
    <button>Process text</button>
    </form>